div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery img{
    width: 400px;
    height: 300px;
    border: 2px solid #5dc7ab;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.gallery img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}

nav{
    display: flex;
    justify-content: space-around;
}

footer{
align-items: center;
display: flex;
color:#2c2c2c;
float: bottom;
justify-content: space-around;
}

.main-content{
    color: #2c2c2c;
    height: 100px;
    width: 100px
}

h1{
    font-size: 80px;
    text-align: center;
    color: #2c2c2c;
}

h2{
    font-size: 20px;
    text-align: center;
    color: #2c2c2c; 
}

p{
    font-size: 30px;
    text-align: center;
    color: #2c2c2c;
}

header{
    color:#2c2c2c;
}

body{
    background-color: #fffafd;
}



